Author-Bhavna Aggarwal, 210968060
Batch B1

WEEK 2: Problem Solving Agents & SEARCH, POLICY 
QUESTION 1: The Game : 
According to the “Six Degrees of Kevin Bacon” game, anyone in the Hollywood film industry can be 
connected to Kevin Bacon within six steps, where each step consists of finding a film that two actors 
both starred in. To solve the problem, find the shortest path between any two actors by choosing a 
sequence of movies that connects them. For example, the shortest path between Jennifer Lawrence 
and Tom Hanks is 2: Jennifer Lawrence is connected to Kevin Bacon by both starring in “X-Men: First 
Class,” and Kevin Bacon is connected to Tom Hanks by both starring in “Apollo 13.” 
Problem Solving Agent: 
Given two actors nodes in the graph we need to find the distance (shortest path) between the 
nodes. Write a python program to determine how many “degrees of separation” apart two actors 
are. Find the distance or the degree of separation., using 
a. Breadth first search 
b. Depth first search

In [ ]:
import pandas as pd

# Reading all the datasets
df1 = pd.read_csv('C:/Users/mca/Downloads/degrees(1)/degrees/small/movies.csv')
df2 = pd.read_csv('C:/Users/mca/Downloads/degrees(1)/degrees/small/people.csv')
df3 = pd.read_csv('C:/Users/mca/Downloads/degrees(1)/degrees/small/stars.csv')

# Renaming the columns
df1.rename(columns = {'id':'movie_id'}, inplace = True)
df2.rename(columns = {'id':'person_id'}, inplace = True)

# Merging the datasets
df = df3.merge(df1, on='movie_id', how='left').merge(df2, on='person_id', how='left')

#Dropping unnecessary columns
df = df.drop(['birth', 'person_id', 'movie_id'], axis = 1)

#Sorting the columns
df = df.sort_index(axis=1)

#Saving the dataset
df.to_csv('small.csv', index=False)

In [6]:
df

               name               title  year
0       Kevin Bacon      A Few Good Men  1992
1       Kevin Bacon           Apollo 13  1995
2        Tom Cruise      A Few Good Men  1992
3        Tom Cruise            Rain Man  1988
4        Cary Elwes  The Princess Bride  1987
5         Tom Hanks        Forrest Gump  1994
6         Tom Hanks           Apollo 13  1995
7    Mandy Patinkin  The Princess Bride  1987
8    Dustin Hoffman            Rain Man  1988
9    Chris Sarandon  The Princess Bride  1987
10       Demi Moore      A Few Good Men  1992
11   Jack Nicholson      A Few Good Men  1992
12      Bill Paxton           Apollo 13  1995
13      Sally Field        Forrest Gump  1994
14   Valeria Golino            Rain Man  1988
15  Gerald R. Molen            Rain Man  1988
16      Gary Sinise        Forrest Gump  1994
17      Gary Sinise           Apollo 13  1995
18     Robin Wright        Forrest Gump  1994
19     Robin Wright  The Princess Bride  1987

In [8]:
#data prep
data = {}
with open('small.csv', 'r') as file:
    reader = csv.reader(file)
    for row in reader:
        actor = row[0]
        movie = row[1]
        if actor not in data:
            data[actor] = set()
        data[actor].add(movie)
        if movie not in data:
            data[movie] = set()
        data[movie].add(actor)

In [9]:
data

{'name': {'title'},
 'title': {'name'},
 'Kevin Bacon': {'A Few Good Men', 'Apollo 13'},
 'A Few Good Men': {'Demi Moore',
  'Jack Nicholson',
  'Kevin Bacon',
  'Tom Cruise'},
 'Apollo 13': {'Bill Paxton', 'Gary Sinise', 'Kevin Bacon', 'Tom Hanks'},
 'Tom Cruise': {'A Few Good Men', 'Rain Man'},
 'Rain Man': {'Dustin Hoffman',
  'Gerald R. Molen',
  'Tom Cruise',
  'Valeria Golino'},
 'Cary Elwes': {'The Princess Bride'},
 'The Princess Bride': {'Cary Elwes',
  'Chris Sarandon',
  'Mandy Patinkin',
  'Robin Wright'},
 'Tom Hanks': {'Apollo 13', 'Forrest Gump'},
 'Forrest Gump': {'Gary Sinise', 'Robin Wright', 'Sally Field', 'Tom Hanks'},
 'Mandy Patinkin': {'The Princess Bride'},
 'Dustin Hoffman': {'Rain Man'},
 'Chris Sarandon': {'The Princess Bride'},
 'Demi Moore': {'A Few Good Men'},
 'Jack Nicholson': {'A Few Good Men'},
 'Bill Paxton': {'Apollo 13'},
 'Sally Field': {'Forrest Gump'},
 'Valeria Golino': {'Rain Man'},
 'Gerald R. Molen': {'Rain Man'},
 'Gary Sinise': {'Apollo 13', 'Forrest Gump'},
 'Robin Wright': {'Forrest Gump', 'The Princess Bride'}}

In [13]:
#depth_first_search
def dfs(data, start, end, path=None):
    if path is None:
        path = [start]
    if start == end:
        return path
    for actorOrMovie in data[start]:
        if actorOrMovie not in path:
            new_path = dfs(data, actorOrMovie, end, path + [actorOrMovie])
            if new_path is not None:
                return new_path
    return None

In [14]:
print(dfs(data, 'Kevin Bacon', 'Valeria Golino'))

['Kevin Bacon', 'A Few Good Men', 'Tom Cruise', 'Rain Man', 'Valeria Golino']

In [17]:
from queue import Queue

In [1]:
#breadth first search
def bfs(start, end, data):
    visited = set()
    queue = Queue()
    queue.put((start, 0))
    while not queue.empty():
        actor, degree = queue.get()
        if actor == end:
            return degree
        visited.add(actor)
        for neighbor in data[actor]:
            if neighbor not in visited:
                queue.put((neighbor, degree + 1))
    return None

In [19]:
print(bfs('Kevin Bacon', 'Valeria Golino',data))

4